
@import 'tailwindcss';

/* Custom font-face declarations for RethinkSans variants */
@font-face {
  font-family: "Sans Regular";
  src: url("/fonts/RethinkSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sans Medium";
  src: url("/fonts/RethinkSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sans SemiBold";
  src: url("/fonts/RethinkSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sans Bold";
  src: url("/fonts/RethinkSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@theme {
  --color-primary: #05061a;
}

:root {
  line-height: 1.5;
  font-weight: 400;  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-Sans: "Sans", sans-serif;
}

body {
  background-color: var(--color-primary);
}

@media (prefers-color-scheme: light) {
  :root {
  }
}